<div class="jumbotron" style="background-image: url('../../public/assets/g20.jpg');">
  <h1 class="display-4">Group of Twenty</h1>
  <p class="lead">The G20 (or Group of Twenty) is an international forum for the governments and central bank governors from 19 
      countries and the European Union (EU). Founded in 1999 with the aim to discuss policy pertaining to the promotion of 
      international financial stability, the G20 has expanded its agenda since 2008 and heads of government or heads of state,
       as well as finance ministers, foreign ministers and think tanks,[4] have periodically conferred at summits ever since.
        It seeks to address issues that go beyond the responsibilities of any one organization</p>
  <hr class="my-4">
  <p>As per the schedule 2020's G-20 was hosted by Saudi-Arabia</p>
   <p>Due to the Covid-19 Pandemic all meetings took place virtually.</p>
  <a class="btn btn-primary btn-lg" href="https://g20.org/en/Pages/home.aspx" role="button">Learn more</a>
</div>